@use 'sass:map';
@use '@angular/material' as mat;
@use '../app/shared/footer/footer.component-theme' as *;

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin quickapp-pro-app-theme($theme) {
  html, body {
    $color: mat.get-theme-color($theme, primary);
    $background: mat.get-theme-color($theme, primary-container);

    mat-nav-list .mat-mdc-list-item.active {
      $nav-color: $color;
      $nav-background: mat.get-theme-color($theme, secondary-container);

      color: $nav-color;
      background-color: $nav-background;

      .mdc-list-item__primary-text,
      .mat-icon {
        color: $nav-color;
      }
    }

    mat-toolbar .mat-mdc-button.active {
      background-color: var(--mat-menu-item-hover-state-layer-color);
    }

    .app-toolbar {
      color: $color;
      background: $background;
    }

    a {
      color: mat.get-theme-color($theme, primary, 40);
      text-decoration: none;
    }

    .clearfix {
      @include clearfix();
    }

    @include footer-theme($theme);
    --app-primary-color: #{$color};
    --app-primary-background: #{$background};
    --app-container-background: #{mat.get-theme-color($theme, surface-container-low)};

    @if mat.get-theme-type($theme) == dark {
      --mat-table-row-item-outline-color: rgba(255, 255, 255, .13);
      --mat-expansion-actions-divider-color: rgba(255, 255, 255, .12);
      --mat-sidenav-container-divider-color: rgba(255, 255, 255, .12);
    }
    @else {
      --mat-table-row-item-outline-color: rgba(0, 0, 0, .12);
      --mat-expansion-actions-divider-color: rgba(0, 0, 0, .12);
      --mat-sidenav-container-divider-color: rgba(0, 0, 0, .12);
    }
  }
}
