@use '@angular/material' as mat;
@use 'app-theme';

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette
  ),
  density: (
    scale: 0
  )
));

:root {
  @include mat.all-component-themes($theme);
  @include app-theme.quickapp-pro-app-theme($theme);
}
