<div class="page-content flex fill center-center">
  <div class="card mat-elevation-z6">
    <div class="card-header mat-mdc-card-title">
      <span>Reset Password</span>
    </div>
    <div class="card-content">
      @if (isSuccess) {
        <p>Your password has been reset. Please <a routerLink="/login">click here to login</a>.</p>
      }
      @else {
        <form #form="ngForm" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" novalidate class="app-reset-form">
          <mat-form-field class="app-validate">
            <mat-label>Username Or Email</mat-label>
            <input matInput formControlName="usernameOrEmail" autocomplete="email" (keydown.enter)="resetPassword()">
            @if (usernameOrEmail.hasError('required')) {
              <mat-error>User name or Email address is <strong>required</strong></mat-error>
            }
          </mat-form-field>
          <mat-form-field class="app-validate" formGroupName="password">
            <mat-label>New Password</mat-label>
            <input matInput formControlName="newPassword" autocomplete="new-password" (keydown.enter)="resetPassword()" type="password">
            @if (newPassword.hasError('required')) {
              <mat-error>Password is <strong>required</strong></mat-error>
            }
            @else if (newPassword.hasError('pattern')) {
              <mat-error>
                <span>Password must contain at least: one uppercase letter, one lowercase letter, one digit, and any special character</span>
              </mat-error>
            }
          </mat-form-field>
          <mat-form-field class="app-validate" formGroupName="password">
            <mat-label>Confirm Password</mat-label>
            <input matInput formControlName="confirmPassword" autocomplete="new-password" (keydown.enter)="resetPassword()" type="password">
            @if (confirmPassword.hasError('required')) {
              <mat-error>Confirmation password is <strong>required</strong></mat-error>
            }
            @else if (confirmPassword.hasError('notEqual')) {
              <mat-error>
                <span>Password and confirmation password <strong>do not match</strong></span>
              </mat-error>
            }
          </mat-form-field>
        </form>
      }
    </div>
    <div class="card-actions">
      @if (!isSuccess) {
        <button mat-raised-button color="primary" [disabled]="isLoading" (click)="resetPassword()">
          @if (isLoading) {
            <mat-spinner [diameter]="20"></mat-spinner>
          }
          SUBMIT
        </button>
        <a mat-button routerLink="/">CANCEL</a>
      }
    </div>
  </div>
</div>
