<div class="page-content flex fill center-center">
  <div class="card flex-auto mat-elevation-z6">
    <div class="card-header mat-mdc-card-title">
      <span>Recover Password</span>
    </div>
    <div class="card-content">
      @if (isSuccess) {
        <p>Please check your email to reset your password.</p>
      }
      @else {
        <form #form="ngForm" [formGroup]="recoverPasswordForm" (ngSubmit)="recover()" novalidate class="app-recover-form">
          <mat-form-field class="app-validate">
            <mat-label>Username Or Email</mat-label>
            <input matInput formControlName="usernameOrEmail" autocomplete="email" (keydown.enter)="recover()">
            @if (usernameOrEmail.hasError('required')) {
              <mat-error>User name or Email address is <strong>required</strong></mat-error>
            }
          </mat-form-field>
        </form>
      }
    </div>
    <div class="card-actions">
      @if (isSuccess) {
        <a mat-raised-button color="accent" routerLink="/">FINISH</a>
      }
      @else {
        <button mat-raised-button color="primary" [disabled]="isLoading" (click)="recover()">
          @if (isLoading) {
            <mat-spinner [diameter]="20"></mat-spinner>
          }
          RECOVER
        </button>
        <a mat-button routerLink="/">CANCEL</a>
      }
    </div>
  </div>
</div>
